@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Heebo:wght@500&family=Montserrat&family=Nunito:wght@900&family=Poppins:wght@500&family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rightSide{
  float: left;
}
@media only screen and (max-width: 782px) {
  *{
    overflow: auto;
  }
}